@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
}

.dark {
  --background: var(--color-neutral-800);
  --foreground: var(--color-neutral-200);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
